
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

/*
  Josh's Custom CSS Reset (customized by jums)
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
  }

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.note-name {
  font-size: 1.5rem;
  font-weight: 400;
}

.note {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
}

.mode-index {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

#note-select {
  width: 90%;
  margin-top: 8px;
  text-align: center;
  font-size: 1.5rem;
}

#note-select-form {
  margin-top: 24px;
}

#try-button{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 8px;
  width: 50%;
}

#fail-section {
  width: 100%;
  font-weight: 500;
  display: block;
}

.fail-scale {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
#fail-section > div {
  font-size: 1.8rem;
}

#users-answer {
  display: inline-block;
  color: red;
}





button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:active {
  scale: 0.95;
}


@media only screen and (max-width: 500px) {
  #note-select {
  width: 100%;
  margin-top: 8px;
}
}